$XS: 576px; //Mobile
$SM: 576px; //iPads,tablets
$MD: 768px; //laptops
$LG: 992px; //desktop
$XL: 1200px; //TV

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $LG) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}

/*------------BUTTON---------------*/
@mixin buttonFrame($bg-color, $border-color, $text-color) {
  width: 12rem;
  padding: 0.75rem 0.75rem;
  background-color: $bg-color;
  border: 1.5px solid $border-color;
  text-decoration: none;
  color: $text-color;
  font-size: $text-med;
}

@mixin hoverButton($bg-color, $border-color, $text-color) {
  :hover {
    background-color: $bg-color;
    border-color: $border-color;
    color: $text-color;
  }
}

/***ABOUT **/
@mixin paragraph-font($margin-top) {
  h2 {
    font-weight: 500;
    letter-spacing: 1px;
  }
  p {
    margin-top: $margin-top;
    font-size: 1.45rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.5px;
    color: darkslategray;
    text-align: justify;
  }
}

/***thumb-content*/
@mixin thumb-content {
  h3 {
    font-weight: 500;
    letter-spacing: 1px;
  }
  p {
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.5px;
  }
}
