/* Font size */
$text-small: 1rem;
$text-med: 1.3rem;
$text-large: 1.4rem;
$text-xlarge: 1.9rem;
$logo-size: 1.45rem;

/* TEXT COLOR*/
$text-black: black;

/*Icon color*/
$hover-icon-color: #1dacd6;

/*Border*/
$border-line: 1.5px solid $hover-icon-color;
$border-logo: 1.5px solid teal;
